body {
  font: 25px "Century Gothic", Futura, sans-serif;
  margin: 37px;
}

ol, ul {
  padding-left: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(255, 255, 0);
  border: 5px solid #999;
  float: right;
  font-size: 54px;
  font-weight: bold;
  line-height: 134px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
